* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  min-width: 100vh;
}

#grid {
  width: 200px;
  height: 400px;
  background-color: aquamarine;
}
