.grid {
  margin-top: 20px;
  width: 200px;
  height: 400px;
  background-color: blanchedalmond;
}

.grid div {
  width: 20px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
}

.shape {
  background-color: blue;
}
